<!DOCTYPE html>
<html lang="en">

<%- include('layout/head') %>

    <body id='body-404' class="white center">
        <h1 class="white-font big-heading">
            404, Page Does Not Exist.
        </h1>
    </body>

</html>