/* #################################### IMPORTS ################################# */
@import 'reset.css';
@import 'layout.css';
@import 'modules.css';
@import 'state.css';
@import 'theme.css';

/* #################################### FONT-IMPORTS ################################# */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');  /* headings */

/* #################################### GENERAL STYLES ################################# */
body{
    font-family: 'Open Sans', sans-serif;
}
/* headers styles */
h1, h2, h3, h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    font-family: 400;
}

.big-heading {
    font-size: 3.5em;
    font-weight: bolder;
}
.heading-two{
   font-size: 1.5em;
   font-weight: 700;
}

p{
   font-size: 1em;
}

a{
    text-decoration: none;
    margin-right: 15px;
}
a:hover {
    text-decoration: none;
    color:#ff4646;
}

button{
    border: none;
    padding: 4%;
    font-size: 1.2em;
    cursor: pointer;
}
