/* #################################### IMPORTS ################################# */
@import 'reset.css';
@import 'layout.css';
@import 'modules.css';
@import 'state.css';
@import 'theme.css';

/* #################################### FONT-IMPORTS ################################# */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');  /* headings */

/* #################################### GENERAL STYLES ################################# */
body{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    font-family: 400;
}

p{
   font-size: 1em;
}

a{
    text-decoration: none;
    margin-right: 15px;
}
a:hover {
    text-decoration: none;
    color:#ff4646;
}

button{
    cursor: pointer;
}
