<header class="center">
    <div class="container">
        <h1 class="big-heading black-font">COVID <span class="white-font">19</span></h1>
        <h2 class="heading-two white-font">Covid-19 Statistics</h2>
        <p class="white-font">A Website to Provide You With All Updates on Covid-19 Statistics Around The World</p>
    </div>
</header>