<nav>
    <div class="container dark">
        <a class="white-font" href="/">Home </a>
        <a class="white-font" href="/allCountires">All Countires</a>
        <a class="white-font" href="/myRecords"> My Records</a>
    </div>
</nav>